<h2>Company Products</h2>


<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <div>
        <li>
          <h4><%=link_to product.name, product_path(id: product.id) %></h4>
        </li>
      </div>
    <% end %>
  </ul>
<% else %>
  <p>No products created yet.</p>
<% end %>


<h3>Most Reviewed Product:
  <% @most_reviewed.each do |pro| %>
    <%=link_to pro.name, product_path(id: pro.id) %></h3>
  <% end %>

<h3>Recently Added Products: </h3>
  <% @recently_added.each do |pro| %>
    <p><%=link_to pro.name, product_path(id: pro.id) %></p>
  <% end %>

<h3>Local Products (Made in USA): </h3>
  <% @local_products.each do |pro| %>
    <p><%=link_to pro.name, product_path(id: pro.id) %></p>
  <% end %>

<br>
<p><h4><%= link_to "Create a product", new_product_path %></h4></p>
