<h2>User Account</h2>
<br>
<h4>email: <%= @user.email %></h4>
<h4>Number of Reviews: <%= @user.reviews.length%></h4>
<h4>Avg Rating: <%= @user.reviews.length%></h4>
<br>
<h3>Reviews</h3>

<% if @user.reviews.any? %>
  <ol>
    <% @user.reviews.each do |review| %>
      <div>
        <li>
          <h4>Author of Review: <%= review.author %></h4>
          <h4>Review Rating: <%= review.rating  %></h4>
          <p>Feedback: <%=review.content_body  %></p>
        </li>
      </div>
    <% end %>
  </ol>
<% else %>
  <p>You have no reviews yet.</p>
<% end %>
