<h4>Filter By:</h4>
<%= form_for(@filter_review, url: product_reviews_path, method: :get) do |f| %>
  <%= f.label :author %><br>
  <%= f.text_field :author%><br>
  <%= f.label :rating %><br>
  <%= f.select :rating, (1..5), { include_blank: true } %><br>
  <%= f.submit "Apply"%>
<% end %>

<br>

<h3>Reviews</h3>
<% if @reviews.any? %>
  <ol>
    <% @reviews.each do |review| %>
      <div>
        <li>
          <h4>Author of Review: <%= review.author %></h4>
          <h4>Review Rating: <%= review.rating  %></h4>
          <p>Feedback: <%=review.content_body  %></p>
        </li>
      </div>
    <% end %>
  </ol>
<% else %>
  <p>No reviews.</p>
<% end %>
